<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragrance World</title>
</head>
<body>

    {% include 'navbar.html' %}


    <div class="content">
        <div class="segment">
            <h2 class="header"> 1st Section</h2>
            <div class="segment-content">
                <p>Content</p>
            </div>
        </div>



    <div class="content">
        <div class="segment">
            <h2 class="header"> 2nd Section</h2>
            <div class="segment-content">
               <p>Content</p>
            </div>
        </div>



    <div class="content">
        <div class="segment">
            <h2 class="header"> 3rd Section</h2>
            <div class="segment-content">
                <p>Content</p>
            </div>
        </div>
        
    







    </div>
    
</body>
</html>