<html>

    <head>

        <title>Simple form</title>

    </head>

    <body>

        {% include 'navbar.html' %}
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                <br>
                <br>
                <br>
                <p>Enter Payment Details Below</p>
                {{ form.card_num.label }} {{ form.card_num }}
                <br>
                {{ form.cvc_num.label }} {{ form.cvc_num }}
                <br>
                <br>
                <br>
                {{ form.submit }}
                <br>
            {{ message }}
            </form>

        </div>

    </body>

</html>