<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="\static\style.css"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link href="\static\style.css" rel="stylesheet">
        <title>Simple form</title>

    </head>

    <body>

            <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container">
            <a class="navbar-logo" href="#"><img src="\static\fragrance-world-logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('products') }}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('categories') }}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('cart') }}">Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

       
    <div class="container">
        <div class="form-container">
            <h2>Payment Details</h2>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <p>Enter Payment Details Below</p>
                <div class="form-group">
                    <label for="cardholder_name">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label for="card_num">{{ form.card_num.label }}</label>
                    {{ form.card_num }}
                </div>
                <div class="form-group">
                    <label for="expiry_date">{{ form.exp_date.label }}</label>
                    {{ form.exp_date }}
                </div>
                <div class="form-group">
                    <label for="cvc_num">{{ form.cvc_num.label }}</label>
                    {{ form.cvc_num }}
                </div>
                <button type="submit">Make Payment</button>
                <p class="message">{{ message }}</p>
            </form>

        </div>

    </div>

    </body>

</html>