<!DOCTYPE html>
<html>
<head>
<title>Products</title>
</head>
<body>

 

<h2>Products</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
<th>Price</th>
<th>Stock Level</th>
<th>Action</th>
</tr>
</thead>
<tbody>
        {% for product in products %}
<tr>
<td>{{ product.name }}</td>
<td>{{ product.description }}</td>
<td>{{ product.price }}</td>
<td>{{ product.stock_level }}</td>
<td>
<form action="{{ url_for('add_to_cart') }}" method="post">
<input type="hidden" name="product_id" value="{{ product.product_id }}">
<input type="submit" value="Add to Cart">
</form>
</td>
</tr>
        {% endfor %}
</tbody>
</table>

 

</body>
</html>