<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="\static\style.css"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="\static\style.css" rel="stylesheet">
<title>Products</title>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container">
            <a class="navbar-logo" href="#"><img src="\static\fragrance-world-logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('products') }}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('categories') }}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('cart') }}">Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        


    		

		<div class="row gallery-row">
			<div class="col-12">
				<h2 class="text-center">Image Gallery</h2>
			</div>
			<div class="col-md-4 gallery-item">
				<img src="\static\platinum_egoiste.jpg" alt="Image 1">
				</div>
			<div class="col-md-4 gallery-item">
				<img src="\static\acqua_di_gio.jpeg" alt="Image 2">
				</div>
			<div class="col-md-4 gallery-item">
				<img src="\static\l'interdit.jpeg" alt="Image 3">
				</div>
            <div class="col-md-4 gallery-item">
                <img src="\static\toyboy.jpeg" alt="Image 4">
                </div>

		</div>
	

		<div class="row product-description-section">
			<div class="col-md-3 col-sm-6 product-description">
				<h3>Platinum Egoiste</h3>
				<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<a href="{{ url_for('product1') }}" class="btn btn-primary">View Product</a>
			</div>
			<div class="col-md-3 col-sm-6 product-description">
				<h3>Acqua di Gio</h3>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
				<a href="{{ url_for('product3') }}" class="btn btn-primary">View Product</a>
			</div>
			<div class="col-md-3 col-sm-6 product-description">
				<h3>L'interdit</h3>
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<a href="{{ url_for('product4') }}" class="btn btn-primary">View Product</a>
			</div>
            <div class="col-md-3 col-sm-6 product-description">
				<h3>Toyboy</h3>
				<p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<a href="{{ url_for('product5') }}" class="btn btn-primary">View Product</a>
			</div>
		</div>

 

<h2>Products</h2>
<table>
<thead>
<tr>
<th>Name</th>
<th>Description</th>
<th>Price</th>
<!-- <th>Stock Level</th> -->
<!-- <th>Action</th> -->
</tr>
</thead>
<tbody>
        {% for product in products %}
<tr>
<td>{{ product.name }}</td>
<td>{{ product.description }}</td>
<td>{{ product.price }}</td>
<td>{{ product.stock_level }}</td>
<td>
<form action="{{ url_for('add_to_cart') }}" method="post">
<input type="hidden" name="product_id" value="{{ product.product_id }}">
<input type="submit" value="Add to Cart">
</form>
</td>
</tr>
        {% endfor %}
</tbody>
</table>

 

</body>
</html>